.container {
    background-color: var(--darkBrown);
    position: absolute;
    color: #dedede;
    z-index: 1;
    top: -2.5rem;
    padding: 0.4rem;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 0.25rem;
}
